.cards > .cards-list {
  list-style: none;
  margin: 10px;
  padding: 0;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: 16px;
}

.cards > .cards-list > .card-link {
  border: 1px solid var(--dark-color);
  background-color: var(--background-color);
}

.cards > .card-body {
  margin: 16px;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}