.cards-container {
  margin: 5%;
}

.cards-container .cards-list {
  list-style: none;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: 16px;
}

.cards-container .card-link {
  height: 100%;
  border: 1px solid var(--dark-color);
  background-color: var(--background-color);
}