.header-wrapper .menu-content.menu-links {
    top: var(--header-menu-top-desktop);
}

@media (width <= 991.5px) {
    .header-wrapper .menu-content.menu-links {
        top: var(--header-menu-top-tablet);
    }
}

@media (width <= 576px) {
    .header-wrapper .menu-content.menu-links {
        top: var(--header-menu-top-mobile);
    }
}